// >>-- 07 App css start --<<

.app-wrapper {
  display: flex;
  .app-content {
    padding-left: $sidebar-width;
    // padding-top: 100px;
    padding-top: 45px;
    padding-bottom: 47px;
    width: 100%;
    height: 100%;
    transition: var(--app-transition);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    .container-xxl {
      margin: 0 auto;
    }
    .page-title {
      h4 {
        font-weight: 600;
      }
    }
  }
}

// >>-- 07 App css end --<<
