// >>-- 50 Login css start --<<
.sign-in-bg {
  background-color: rgba(var(--primary), 0.3);

  .sign-in-content-bg {
    background-color: rgba(var(--white), 1);
    border-radius: var(--app-border-radius);
    overflow: hidden;

    .signup-content {
      span {
        img {
          width: 180px;
          display: block;
          margin: auto;
        }
      }
    }
  }

  .main-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
  }
}

.form-contentbox {
  padding: calc(20px + (48 - 20) * ((100vw - 300px) / (1920 - 300)));
  display: flex;
  align-items: center;
  justify-content: center;

  //.form-container{}

  h2 {
    margin-bottom: 0;
    font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1920 - 300)));
  }

  p {
    color: rgb(var(--dark), 1);
    font-weight: 500;
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1920 - 300)));
  }
}

.image-contentbox {
  background-color: rgba(var(--primary), 0.1);
  .signup-bg-img {
    img {
      margin: auto;
      display: block;
    }
  }
}

//

.login-form-container {
  background-image: url('/assets/images/background/06.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .app-form {
    padding: 30px 30px;
  }

  .form_container {
    width: 450px;
    background-color: rgba(var(--white), 1);
    box-shadow: var(--box-shadow);
    border-radius: var(--bs-border-radius);

    h3 {
      font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1920 - 300)));
      color: rgb(var(--primary), 0.75);
      font-weight: 600;
    }

    p {
      color: rgb(var(--dark), 1);
      font-weight: 500;
      font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1920 - 300)));
    }
  }
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.verification-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

// >>-- 50 Login css end --<<
