/*!********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./assets/scss/responsive.scss ***!
  \********************************************************************************************************************************************************************************************/
:root {
  --font-color: #15264b;
  --font-title-color: #1c3264;
  --body-color: #f9f9f9;
  --bodybg-color: #f6f6f6;
  --font-secondary-color: #22242c;
  --font-light-color: #a0a0b0;
  --grid_color: rgba(144, 164, 246, 0.21);
  --border_color: rgba(0, 0, 0, 0.21);
  --primary: 140, 118, 240;
  --secondary: 100,100,100;
  --success: 20, 120, 52;
  --danger: 240,10,200;
  --warning: 215, 220, 65;
  --info: 46,94,231;
  --light: 215, 208, 200;
  --dark: 40, 38, 50;
  --white: 255,255,255;
  --black: 0, 0, 0;
  --border_color: #e0dfd6;
  --bs-danger: #f00ac8;
  --bs-dropdown-link-active-color: rgba(var(--primary), 1);
  --bs-dropdown-link-active-bg: rgba(var(--primary), 0.2);
  --primary-dark: 36, 17, 135;
  --secondary-dark: 106, 90, 100;
  --success-dark: 52, 50, 46;
  --danger-dark: 102, 15, 106;
  --warning-dark: 99, 89, 29;
  --info-dark: 8, 60, 128;
  --dark-dark:30, 29, 35;
  --dark-light:110, 70, 90;
  --facebook: 59, 89, 152;
  --twitter: 85, 172, 238;
  --pinterest: 189, 8, 28;
  --linkedin: 0, 119, 181;
  --reddit: 255, 69, 0;
  --whatsapp: 67, 216, 84;
  --gmail: 234, 67, 53;
  --telegram: 0, 64, 93;
  --youtube: 205, 32, 31;
  --vimeo: 26, 183, 234;
  --behance: 23, 105, 255;
  --github: 0, 64, 93;
  --skype: 0, 175, 240;
  --snapchat: 255, 250, 55;
  --box-shadow: 0px 0px 21px 3px rgba(var(--secondary), 0.05);
  --hover-shadow: 0 0.5rem 2rem var(--light-gray);
  --app-transition: all 0.3s ease;
  --light-gray: #f4f7f8;
  --p-line-height: 1.6;
  --link-color: var(--primary-color);
  --font-size: 14px;
  --p-font-size: 14px;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1.125rem;
  --h6-font-size: 1rem;
  --btn-font-size: 15px;
  --app-border-radius: 1.8rem;
  --bs-border-radius: 1.8rem;
  --bs-accordion-inner-border-radius: 0.5rem;
}

.default {
  --primary: 140, 118, 240;
  --secondary: 100,100,100;
}

.gold {
  --primary: 192,127,0;
  --secondary: 76,61,61;
}

.warm {
  --primary: 255,103,125;
  --secondary: 111,90,126;
}

.happy {
  --primary: 36,114,145;
  --secondary: 129, 125, 141;
}

.nature {
  --primary: 127,180,20;
  --secondary: 82,80,80;
}

.hot {
  --primary: 255,0,77;
  --secondary: 29, 43, 83;
}

nav.dark-sidebar {
  --white: 32, 35, 53;
  --black: #DCE2F0;
  --bodybg-color: #272b3e;
  --bs-body-bg: #202335;
  --font-color: #fff;
  --box-shadow: 0 0.2rem 1rem #333644;
  --hover-shadow: 0 0.2rem 2rem #333644;
  --light-gray: #333644;
  --light: 71, 71, 96;
  --dark: 234, 234, 236;
  --link-color: #eaeaec;
  --border_color: #474a56;
  --bs-border-color: #474a56;
  --bs-card-border-color: #5B5E69;
  --bs-form-control-bg: #333644;
  --bs-body-color: #ffffff;
  --bs-secondary-color:#eaeaec;
  --bs-list-group-color:#eaeaec;
  --bs-body-color-rgb:#eaeaec;
  --bs-text-opacity: 0;
  --bs-card-color:#eaeaec;
  --bs-tertiary-bg: #242425;
  --primary-dark: 160, 148, 226;
  --secondary-dark:152, 137, 146;
  --success-dark: 148, 143, 135;
  --danger-dark: 208, 181, 200;
  --warning-dark: 198, 193, 167;
  --info-dark:157, 186, 224;
  --dark-dark:179, 176, 193;
}
nav.dark-sidebar .disabled > .page-link, nav.dark-sidebar .page-link.disabled {
  color: #eaeaec;
  background-color: #333644;
  border-color: #474a56;
}

body[text=small-text] {
  --font-size: 13px;
  --p-font-size: 13px;
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1.125rem;
  --h5-font-size: 1rem;
  --h6-font-size: 15px;
  --btn-font-size: 13px;
}
body[text=medium-text] {
  --font-size: 14px;
  --p-font-size: 14px;
  --h1-font-size: 2.81rem;
  --h2-font-size: 2.18rem;
  --h3-font-size: 1.875rem;
  --h4-font-size: 1.625rem;
  --h5-font-size: 1.25rem;
  --h6-font-size: 1rem;
  --btn-font-size: 15px;
}
body[text=large-text] {
  --font-size: 16px;
  --p-font-size: 16px;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.75rem;
  --h5-font-size: 1.25rem;
  --h6-font-size: 1.125rem;
  --btn-font-size: 17px;
}
@media screen and (max-width: 1550px) and (min-width: 1200px) {
  .ticket-app .ticket-create p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1200px) {
  .text-ellipsis {
    max-width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .form-selectgroup .text-secondary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .card-placeholder .card-responsive {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-width: 1440px) and (min-width: 992px) {
  .table-section .order-list-header .nav-pills-box .nav-link span {
    display: none;
  }
  .card-placeholder .card-responsive {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .form-custome-message h5,
  .form-multiple-message h5 {
    font-size: 17px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .ticket-app .ticket-create p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-width: 1199px) and (min-width: 767px) {
  header.header-main {
    padding-left: 20px;
  }
  div > footer {
    padding-left: 0;
  }
  nav:not(.semi-nav):not(.horizontal-sidebar) .app-logo .logo img {
    width: 0;
  }
  .app-wrapper .app-content {
    padding-left: 0;
  }
  .app-wrapper nav {
    width: 0;
  }
  .app-wrapper .semi-nav :not(.horizontal-sidebar):hover ~ .app-content:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--dark), 0.5);
    transition: var(--app-transition);
  }
  .app-wrapper .semi-nav :not(.horizontal-sidebar) ~ .app-content footer {
    padding-left: 4.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .form-container {
    margin: auto;
    width: 600px;
  }
}
@media screen and (max-width: 1550px) {
  .rounded-breadcrumbs li a {
    padding: 12px 15px;
  }
  .rounded-breadcrumbs li:last-child {
    padding: 12px 15px;
  }
}
@media screen and (max-width: 1400px) {
  .app-wrapper nav.horizontal-sidebar.semi-nav .app-nav .main-nav li a {
    font-size: var(--h6-font-size);
  }
  .app-wrapper nav.horizontal-sidebar .menu-navs {
    width: calc(100% - 40px);
  }
  .app-wrapper nav.horizontal-sidebar .app-nav {
    width: calc(100% - 100px);
  }
  .app-wrapper nav.horizontal-sidebar ~ .app-content .header-main .card .card-body {
    width: 100%;
  }
}
@media only screen and (max-width: 1366px) {
  nav.horizontal-sidebar ~ .app-content .header-main > .container-fluid > .row {
    width: 100% !important;
    padding: 1rem 0.5rem !important;
  }
}
@media screen and (max-width: 1215px) {
  .app-wrapper .semi-nav.horizontal-sidebar {
    width: 100%;
    top: 61px;
  }
  .app-wrapper .semi-nav.horizontal-sidebar .app-nav .main-nav {
    margin-bottom: 0;
  }
  .app-wrapper .semi-nav.horizontal-sidebar .app-nav .main-nav > li a i {
    margin-right: 0.25rem;
    margin-top: -4px;
  }
  .app-wrapper .semi-nav.horizontal-sidebar .app-nav .main-nav > li:not(.menu-title) > a::after {
    content: "\ec86";
    transition: var(--app-transition);
  }
  .app-wrapper .semi-nav.horizontal-sidebar .app-logo .logo {
    width: auto;
    top: -42px;
  }
  .app-wrapper .semi-nav.horizontal-sidebar:hover .app-logo {
    padding: 0;
  }
  .app-wrapper .semi-nav.horizontal-sidebar:hover .app-nav {
    width: calc(100% - 100px);
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) {
  nav .app-logo {
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  .app-wrapper nav.horizontal-sidebar {
    top: 61px;
  }
  .card .card-body {
    padding: 0.75rem 1.25rem;
  }
  .app-wrapper .semi-nav .app-logo .toggle-semi-nav i:before {
    content: "\eb55";
  }
  .text-elips {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .navbar-section nav {
    width: 100% !important;
  }
}
@media screen and (max-width: 991px) {
  .app-wrapper .app-content {
    padding-bottom: 67px;
  }
  .app-btn-list + .app-btn-list {
    margin-bottom: 0;
  }
  .app-btn-list + .app-btn-list:last-child {
    margin-bottom: -10px;
  }
  .icon-box {
    width: 25% !important;
  }
  h1 {
    font-size: 1.875rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.875rem;
  }
  .app-form .form-check-width {
    width: 20% !important;
  }
  .order-lg--1 {
    order: -1;
  }
}
@media screen and (max-width: 767px) {
  .app-btn-list {
    margin-bottom: 0;
  }
  nav .app-logo {
    padding: 0;
  }
  nav.horizontal-sidebar:not(.semi-nav) .app-logo .logo img {
    width: 130px;
    padding-top: 11px;
  }
  .app-wrapper nav.horizontal-sidebar {
    top: 60px;
  }
  .app-wrapper .semi-nav {
    width: 16rem;
  }
  .app-wrapper .semi-nav:hover {
    width: 16rem;
  }
  .app-wrapper .semi-nav .toggle-semi-nav {
    display: block;
    background-color: transparent !important;
    padding: 0;
  }
  .app-wrapper .semi-nav .app-logo {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  .app-wrapper .semi-nav .app-logo .logo {
    width: auto;
    overflow: unset;
  }
  .app-wrapper .semi-nav .app-nav {
    width: 100%;
  }
  .app-wrapper .semi-nav .app-nav .menu-title span {
    display: inherit;
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
    font-size: inherit;
    color: inherit;
    transition: var(--app-transition);
  }
  .app-wrapper .semi-nav .app-nav .main-nav > li:not(.menu-title) ul {
    height: auto;
    opacity: 1;
    transition: var(--app-transition);
  }
  .app-wrapper .semi-nav .app-nav .main-nav > li:not(.menu-title) > a::after {
    content: "\ec86";
    transition: var(--app-transition);
  }
  .app-wrapper .semi-nav .app-nav .main-nav > li:not(.menu-title) a[aria-expanded=true]::after {
    content: "\ebf8";
    transition: var(--app-transition);
  }
  .app-wrapper .semi-nav .app-nav .main-nav > li a {
    font-size: inherit;
    text-align: left;
    transition: var(--app-transition);
    transition-duration: 0.15s;
  }
  .app-wrapper .semi-nav .app-nav .main-nav > li a i {
    font-size: 1.2rem;
    margin-right: 0.25rem;
    margin-top: -4px;
    margin-left: 0;
  }
  .app-wrapper .semi-nav ~ .app-content:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--dark), 0.5);
    transition: var(--app-transition);
  }
  div > footer {
    padding-left: 0;
    text-align: center;
  }
  nav.semi-nav .app-logo .logo img {
    width: 140px;
  }
  nav .app-logo .logo img {
    width: 0;
  }
  .app-wrapper nav {
    width: 0;
  }
  .app-wrapper .app-content {
    padding-left: 0;
  }
  header.header-main {
    padding-left: 0;
  }
  .btn-responsive .btn:not(.btn-xs):not(.btn-sm):not(.btn-lg):not(.btn-xl):not(.btn-xxl) {
    padding: 7px 15px;
    font-size: 14px;
  }
  .order-tab-content .nav-tabs .nav-item {
    width: 100%;
  }
  .order-tab-content .nav-tabs .nav-item .nav-link {
    justify-content: start;
    width: 100%;
    margin-bottom: 1rem;
  }
  .rounded-breadcrumbs li a {
    padding: 11px 24px;
  }
  .rounded-breadcrumbs li:last-child {
    padding: 11px 24px;
  }
}
@media screen and (max-width: 576px) {
  .app-wrapper .app-content,
  .app-wrapper .header-main,
  .app-wrapper footer {
    padding-left: 0;
  }
  .app-wrapper nav.horizontal-sidebar .app-logo .logo {
    width: 41px;
    overflow: hidden;
    top: -45px;
    left: 11px;
  }
  nav.horizontal-sidebar:not(.semi-nav) .app-logo .logo img {
    width: 88px;
  }
  header.header-main {
    width: 100%;
    left: 0;
  }
  
  .vertical-tab {
    flex-direction: column;
  }
  
  .vertical-tab .nav-tabs {
    width: 100%;
  }
  .icon-box {
    width: 50% !important;
  }
  .chatdp {
    width: 35px !important;
    height: 35px !important;
  }
  .chat-container .chat-box {
    padding: 10px 0px 0px 40px;
  }
  .chat-container .chat-box-right {
    padding: 10px 40px 0px 0px;
  }
  .app-dropdown .dropdown-menu {
    width: 100%;
  }
  .list-content .d-flex {
    flex-wrap: wrap;
  }
  .list-content .d-flex h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .form_container,
  .form-container {
    width: 100%;
  }
  .login-form-container .form_container {
    width: 100%;
  }
  .create-ticket-card .ticket-create {
    text-align: center;
  }
  .create-ticket-card p {
    margin-bottom: 1rem !important;
  }
  .order-tabs {
    flex-direction: column;
  }
  .order-tabs .nav-link {
    width: 100%;
  }
  .rounded-breadcrumbs li a {
    padding: 11px 15px;
  }
  .rounded-breadcrumbs li :after {
    right: -3px;
  }
  .rounded-breadcrumbs li:last-child {
    padding: 11px 15px;
  }
  .app-form .form-check-width {
    width: 40% !important;
  }
}
@media screen and (max-width: 480px) {
  .app-wrapper nav.horizontal-sidebar {
    top: 52px;
  }
  .footer-text li + li {
    display: none !important;
  }
  .rounded-breadcrumbs li i {
    font-size: 14px !important;
  }
  .rounded-breadcrumbs li a {
    padding: 8px 4px;
    font-size: 12px;
  }
  .rounded-breadcrumbs li:last-child {
    padding: 8px 4px;
    font-size: 12px;
  }
}
